* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.element-with-horizontal-scroll {
    overflow-x: hidden; /* Hide horizontal scrollbar */
    overflow-y: auto; /* Show vertical scrollbar */
}

.container1 {
    background-image: url("images/bg-image.png");
    background-size: cover;
    width: 100%;
    height: 744px;
    position: relative;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.link {
    color: #fff;
}

.paragraph1 {
    color: #fff;
    cursor: pointer;
}

.logo {
    width: 44px;
    height: 45px;
}

.title1 {
    position: absolute;
    top: 230px;
    left: 50%;
    transform: translate(-50%, 50%);
    color: #fff; 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    letter-spacing: 4.5px;
}

.paragraph2 {
    color: #fff;
    position: absolute;
    top: 322px;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 504px;
    height: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.btn1 {
    padding: 15px 47px;
    background: rgba(0, 175, 219, 1);
    color: #fff;
    transition: 0.3s;
    position: absolute;
    top: 405px;
    left: 50%;
    transform: translate(-50%, 50%);
    border: none;
    cursor: pointer;
}

.btn1:hover {
    background: rgb(0, 136, 170);
}

.socials {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 600px;
}

.container2 {
    width: 100%;
    height: 842px;
    background: rgba(255, 255, 255, 1);
    position: relative;
}

.container-block{
    width: 407px;
    height: 233px;
    margin-top: 295px;
    margin-left: 269px;
}

.title2 {
    width: 367px;
    height: 57px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 24px;
}

.paragraph3 {
    width: 500px;
    height: 80px;
    margin-top: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 14px
}

.image {
    width: 407px;
    height: 582px;
    margin-top: -400px;
    margin-left: 900px;
    /* top: -400px;
    left: 900px;
    transform: translate(900px, -400px); */
}

.btn2 {
    padding: 15px 47px;
    background: rgba(0, 175, 219, 1);
    color: #fff;
    transition: 0.3s;
    border: none;
    cursor: pointer;
}

.btn2:hover {
    background: rgb(0, 136, 170);
}

.conteiner3 {
    width: 100%;
    height: 504px;
    background: rgba(245, 246, 247, 1);
    position: relative;
}

.user-card {
    width: 298px;
    height: 175px;
    /* margin-left: 269px;
    margin-top: 155px; */
    position: absolute;
    top: 100px;
    left: 60px;
    transform: translate(60px, 100px);
}

.logo2 {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translate(-50%, -30px);    
}

.title3 {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 16px;
}

.paragraph4 {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.slider-items {
    display: flex;
    gap: 10px;
    width: 894px;
    height: 244px;
    /* margin-top: 20px;
    margin-left: 350px; */
    position: absolute;
    top: -20px;
    left: 250px;
    transform: translate(250px, -20px);
    gap: 20px;
}

.slider-nav-items {
    position: absolute;
    top: -20px;
    left: 275px;
    transform: translate(275px, -20px);
    cursor: pointer;
}

.container4 {
    width: 100%;
    height: 842px;
    background: rgba(255, 255, 255, 1);
    position: relative;
}

.image2 {
    width: 407px;
    height: 582px;
    position: absolute;
    top: 50%;
    left: 50px;
    transform: translate(50px, -50%);
}

.container-block2 {
    width: 407px;
    height: 184px;
    position: absolute;
    top: 50%;
    left: 400px;
    transform: translate(400px, -50%);
}

.title4 {
    width: 292px;
    height: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 24px;
}

.paragraph5 {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.btn3 {
    padding: 15px 47px;
    background: rgba(0, 175, 219, 1);
    color: #fff;
    transition: 0.3s;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

.btn3:hover {
    background: rgb(0, 136, 170);
}